@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
/* *,
html,
body,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --Orange: hsl(26, 100%, 55%);
  --PaleOrange: hsl(25, 100%, 94%);
  --VeryDarkBlue: hsl(220, 13%, 13%);
  --DarkGrayishBlue: hsl(219, 9%, 45%);
  --GrayishBlue: hsl(220, 14%, 75%);
  --LightGrayishBlue: hsl(223, 64%, 98%);
}

body {
  position: relative;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 18px;
  overflow-x: hidden;
}
html {
  overflow-x: hidden;
} */

body {
  width: 100%;
  overflow-x: hidden;  /* Disable horizontal scrolling */
  
}
.pdcontainer {
  width: 100vw;
  display: flex;
  margin-left: 70px;
  height: 100vh;
  
}
.content-div {
  width: 100vw;
  margin: 0 auto;
  overflow: hidden;
  height: 100vh;
}


/************************************************* Header Section ********************************/
/* General Header Styles */
header {
  background-color: var(--white);
}

.header-row {
  border-bottom: 2px solid var(--GrayishBlue);
  height: 80px;
  width: 100vw;
  display: flex;
  justify-content: center; /* Aligns items spaced out in a row */
  align-items: center; /* Vertically centers items */
  padding: 0 20px; /* Adds horizontal padding */
}

.header-col1,
.header-col2,
.header-col3 {
  display: flex;
  align-items: center;
}

.header-heading {
  font-size: 2.7rem;
  font-weight: bold;
  color: var(--DarkGrayishBlue);
}

.header-col1 {
  width: 15%;
}

.header-col2 {
  margin-top: 0.5rem;
  width: 30%;
  justify-content: center;
  display: flex; /* Center the content within */
}

.header-col3 {
  width: 50%;
  justify-content: flex-end;
  display: flex;
  align-items: center;
}

/* Hamburger and Close Buttons */
.hamburger,
.close-hamburger {
  display: none; /* Assuming you will handle this with media queries for mobile view */
  cursor: pointer;
}

/* Navbar Styling */
.nav-list {
  list-style-type: none;
  display: flex;
  justify-content: center; /* Center the nav links */
  gap: 20px; /* Add space between nav links */
}

.nav-link {
  text-decoration: none;
  color: var(--DarkGrayishBlue);
  padding-bottom: 1.4rem;
  font-size: 1.2rem;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--VeryDarkBlue);
  border-bottom: 5px solid var(--Orange);
}

/* Cart Section Styling */
.cart-sec {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-parent {
  position: relative;
  margin-right: 10vw;
}

.cart-notification {
  font-size: 0.7rem;
  color: rgb(238, 151, 51);
  border-radius: 30px;
  padding: 3px 6px;
  background-color: var(--Orange);
  position: absolute;
  top: -10px;
  left: 10px;
}

.cart {
  cursor: pointer;
}

.cart:focus path,
.cart:hover path {
  fill: black;
}

/* Header Image Styling */
.header-img {
  width: 100%;
  max-width: 50px;
  border-radius: 50%;
  border: 2px solid transparent;
}

.header-img:hover,
.header-img:focus {
  cursor: pointer;
  border: 2px solid var(--Orange);
}

/***************************************************** HERO SECTION *******************************/
.hero-sec {
  height: auto;
}
.hero-row {
  /* border: 2px solid red; */
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.hero-col {
  /* border: 1px solid red; */
  height: auto;
  width: 45%;
}
.col2-wrapper {
  /* border: 2px solid blue; */
  width: 30vw;
  display: flex;
  flex-direction: column;
  margin-right: 40px;
}
.main-heading {
  font-size: 3.5rem;
}
.hero-subHeading {
  margin-left: 80px;
  color: var(--Orange);
  font-size: 1rem;
  letter-spacing: 2px;
}
.dollar {
  font-size: 1.5rem;
  /* border: 1px solid firebrick; */
  margin-right: 0.5rem;
  font-weight: 700;
  margin-left: 80px;
}
.discount {
  background-color: var(--PaleOrange);
  padding: 0.3rem 0.5rem;
  border-radius: 5px;
  font-weight: 700;
}
.discount2 {
  display: block;
}
.hero-para {
  color: var(--DarkGrayishBlue);
  line-height: 1.4;
}
.hero-subHeading {
  margin-bottom: 1.5rem;
}
.main-heading {
  margin-left: 80px;
  margin-bottom: 2rem;
}
.hero-para {
  margin-left: 80px;
  margin-bottom: 1.5rem;
}
.cart2-sec {
  /* border: 2px solid red; */
  width: 100%;
  padding: 0rem;
  display: flex;
  justify-content: space-between;
}
.cart2-col1 {
  width: 30%;
}
.cart2-col2 {
  width: 65%;
}
.cart2-col {
  background-color: var(--LightGrayishBlue);
  padding: 0.3rem 0.5rem;
  /* border: 2px solid black; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}
.minus,
.plus {
  cursor: pointer;
  margin-left: 80px;
}
.minus {
  height: 3px;
  width: 13px;
  background-color: var(--Orange);
}
.minus:hover,
.minus:active,
.plus:hover,
.plus:active,
.cart2-btn:hover,
.cart2-btn:active {
  opacity: 0.8;
}

.cart2-values {
  /* border: 1px solid blue; */
  font-size: 1.1rem;
  font-weight: 700;
  padding: 0.2rem 0.5rem;
  width: max-content;
  background-color: transparent;
  border: none;
  outline: none;
}
.cart2-values {
  padding: 0.2rem 2rem;
}

.cart2-col2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background-color: transparent;
}
.cart2-btn {
  /* width: inherit; */
  border: none;
  outline: none;
  padding: 0.7rem 5rem;
  /* border: 1px solid red; */
  background-color: var(--Orange);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 0px 2px 0.5px rgba(0, 0, 0, 0.404);
}
.cart2-main {
  margin-right: 1rem;
}
.cart2-text {
  font-size: 1.2rem;
  color: white;
}

/************************************** Sneakers images **********************/

.sneakers-div {
  /* border: 2px solid yellow; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 600px;
  margin: 0 auto;
}

.mobile-prev,
.mobile-next {
  display: none;
}
.big-sneaker {
  display: block;
  width: 50vw;
  height: 60vh;
  /* max-width: 60vw; */
  margin: 0 auto;
  border-radius: 20px;
  cursor: pointer;
  

}
.sneakers-col2 {
  margin: 0 auto;
  display: flex;
  width: 100%;
  max-width: 440px;
  justify-content: space-between;
  /* border: 2px solid red; */
}
.small-sneaker-div {
  width: max-content;
  height: 80px;
  background-color: white;
  border-radius: 12px;
  margin-right: 30px;
  margin-bottom: 25px;
}
.small-sneaker-div.active-sneaker {
  border: 2px solid var(--Orange);
  height: 84px;
}
.small-sneaker {
  border: none;
  cursor: pointer;
  width: 100px;
  height: 50px;
  border-radius: 10px;
}
.small-sneaker:hover {
  opacity: 0.8;
}
.small-sneaker-div.active-sneaker .small-sneaker {
  opacity: 0.5;
}
/************************************* lightBox Sneaker ******************************/
.lightBoxDiv {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  border-radius: 30px;
  z-index: 10;
}

.lightBoxToggle {
  display: block;
}

.shadow {
  display: none;
  top: 0;
  left: 0;
  position: absolute;
  width: 100vw;
  height: 100%;
  background-color: black;
  opacity: 0.75;
  padding: 0;
  margin: 0;
  z-index: 10;
}

.shadowToggle {
  display: block;
}

.lightBoxClose {
  float: right;
  margin-right: 0.3rem;
}

.lightBoxClose > path:hover {
  fill: var(--Orange);
  cursor: pointer;
}

.lightBoxRow {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 600px;
}

.lightBoxSneaker {
  max-width: 400px;
  cursor: default;
}

.lightBoxCol2 {
  position: relative;
}

.prev {
  position: absolute;
  left: -25px;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  padding: 0.9rem 0.95rem;
  border-radius: 50%;
  background-color: white;
  z-index: 20;
}

.next {
  position: absolute;
  right: -25px;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  padding: 0.9rem 1.2rem;
  border-radius: 50%;
  background-color: white;
  z-index: 20;
}

.prev:hover,
.next:hover {
  cursor: pointer;
}

.prev:hover path,
.next:hover path {
  stroke: var(--Orange);
}

.lightBoxCol3 {
  margin: 0 auto;
  display: flex;
  width: 100%;
  max-width: 440px;
  justify-content: space-between;
}

.smallSneakerDiv {
  cursor: pointer;
}

.activeSneaker {
  border: 2px solid var(--Orange);
}

.smallSneaker {
  width: 60px;
  height: 60px;
  object-fit: cover;
}

/**************************************** Cart Box ************************/
.cart-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 300px;
  height: 200px;
  position: absolute;
  top: 75px;
  right: -30%;
  /* height: 300px; */
  border-radius: 10px;
  padding: 0.7rem 0.5rem;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.512);
  background-color: white;
  opacity: 0;
  transition: all 400ms;
}
.cart-box.cart-box-toggle {
  right: 1%;
  opacity: 1;
}
.cart-item-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart-hr {
  margin-top: 1rem;
}

.cart-para {
  color: var(--DarkGrayishBlue);
  font-size: 0.9rem;
}
.empty-para {
  text-align: center;
  /* border: 1px solid red; */
  /* height: 100%; */
  position: relative;
  top: -10%;
}
.cart-heading,
.item-amount {
  color: black;
  font-size: 1rem;
  font-weight: 700;
}
.cart-item-col1 {
  /* border: 1px solid red; */
  width: 15%;
  height: 40px;
}
.cart-item-col2 {
  /* border: 1px solid red; */
  width: 70%;
}
.cart-item-col3 {
  /* border: 1px solid red; */
  width: 7%;
}
.cart-del {
  cursor: pointer;
}
.cart-item-img {
  width: 100%;
  max-width: 40px;
  border-radius: 5px;
}
.checkout-div {
  /* border: 2px solid black; */
}
.checkout-btn {
  text-align: center;
  border: none;
  outline: none;
  font-size: 1rem;
  letter-spacing: 1px;
  color: white;
  background-color: var(--Orange);
  width: 100%;
  padding: 0.8rem;
  border-radius: 10px;
  font-weight: 550;
  cursor: pointer;
}
.checkout-btn:hover {
  opacity: 0.8;
}
/*********************************************** MEDIA QUERIES ************************************/
@media (max-width: 1300px) {
  .content-div {
    width: 98%;
  }
  .header-col1 {
    /* border: 1px solid red; */
    width: 20%;
  }
  .header-heading {
    font-size: 2.7rem;
  }
  .header-col2 {
    /* border: 1px solid red; */
    margin-top: 0.5rem;
    width: 40%;
  }
  .header-col3 {
    /* border: 1px solid red; */
    width: 35%;
  }
  .hero-row {
    height: 90vh;
  }
  .col2-wrapper {
    width: 90%;
  }
  .main-heading {
    font-size: 2.7rem;
  }
  .dollar {
    font-size: 1.3rem;
  }
  .discount,
  .discount2 {
    font-size: 0.9rem;
  }
  .hero-subHeading {
    margin-bottom: 1.2rem;
  }
  .main-heading {
    margin-bottom: 1.5rem;
  }
  .hero-para {
    margin-bottom: 1.2rem;
  }
  .cart2-btn {
    width: 90%;
    padding: 0.7rem 2rem;
  }
  .sneakers-div {
    height: 500px;
  }
  .big-sneaker {
    max-width: 400px;
  }

  .sneakers-col2 {
    max-width: 400px;
  }
  .small-sneaker-div {
    height: 75px;
  }
  .small-sneaker-div.active-sneaker {
    height: 75px;
  }
  .small-sneaker {
    max-width: 70px;
  }
}
@media (max-width: 960px) {
  .header-col1 {
    width: 25%;
  }
  .header-col2 {
    width: 50%;
  }
  .header-col3 {
    width: 20%;
  }
  .cart2-btn {
    padding: 0.7rem 0rem;
  }
}
@media (max-width: 762px) {
  .content-div {
    /* border: 1px solid magenta; */
    width: 80%;
  }
  .hero-sec {
    height: auto;
  }
  .header-row {
    justify-content: space-between;
  }
  .cart-box {
    z-index: 10;
  }
  .cart:focus path,
  .cart:hover path {
    fill: #69707d;
  }
  .cart-parent:active .cart:active path {
    fill: black;
  }

  .header-col1 {
    /* border: 1px solid magenta; */
    width: 70%;

    order: 2;
  }
  .header-col2 {
    /* border: 1px solid magenta; */
    width: 10%;

    order: 1;
  }
  .header-col3 {
    /* border: 1px solid magenta; */

    width: 20%;
    order: 3;
  }
  .hamburger {
    /* border: 1px solid red; */
    display: block;
  }
  .close-hamburger {
    /* border: 1px solid rebeccapurple; */
    width: max-content;
    display: block;
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--DarkGrayishBlue);
    margin-bottom: 3rem;
  }
  .nav-list {
    position: absolute;
    left: -100%;
    top: 0;
    /* border: 1px solid red; */
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
    width: 400px;
    background-color: white;
    z-index: 10;
    padding-top: 2rem;
    transition: all 400ms;
  }
  .nav-list-toggle {
    left: 0;
  }
  .nav-item {
    /* border: 1px solid red; */
    margin-bottom: 1rem;
    padding-left: 2rem;
  }
  .nav-link {
    color: black;
    font-weight: 700;
    padding: 0;
  }
  .nav-link:hover,
  .nav-link:focus {
    color: var(--Orange);
    border-bottom: none;
  }
  /*********************** Hero Section ********/
  .hero-row {
    flex-direction: column;
    height: auto;
  }
  .hero-col {
    width: 100%;
  }
  .col2-wrapper {
    margin: 0 auto;
    width: 80%;
  }
  .main-heading {
    font-size: 2.5rem;
  }
  .hero-para {
    font-size: 1.2rem;
  }
  .dollar {
    font-size: 1.5rem;
  }
  .discount2 {
    float: right;
    display: inline;
  }
  .cart2-sec {
    margin-top: 2rem;
    flex-direction: column;
  }

  .cart2-col {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 1rem;
  }
  .cart2-btn {
    width: 100%;
  }
  .cart2-btn:hover {
    opacity: 1;
  }
  .cart2-btn:active {
    opacity: 0.8;
  }
  .sneakers-div {
    /* border: 2px solid yellow; */
    height: auto;
  }
  .lightBox-div,
  .lightBox-toggle,
  .shadow-toggle {
    display: none;
  }
  .shadow-toggle2 {
    z-index: 1;
    display: block;
  }
  .sneakers-col1 {
    position: relative;
    /* border: 2px solid red; */
  }
  .big-sneaker {
    margin-top: 1rem;
    max-width: 100%;
    border-radius: 0;
  }

  .mobile-prev,
  .mobile-next {
    display: block;
    position: absolute;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    padding: 0.9rem 0.95rem;
    border-radius: 50%;
    background-color: white;
  }
  .mobile-next {
    right: 1%;
    top: 50%;
  }
  .mobile-prev {
    left: 1%;
    top: 50%;
  }
  .sneakers-col2 {
    display: none;
  }
}
@media (max-width: 520px) {
  .header-heading {
    font-size: 2rem;
  }
  .content-div {
    width: 98%;
  }
  .header-row {
    border: none;
    /* border: 1px solid red; */
    width: 95%;
    margin: 0 auto;
  }
  .nav-list {
    width: 200px;
  }
  .col2-wrapper {
    width: 95%;
  }
  .mobile-prev,
  .mobile-next {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 0.6rem 0.8rem;
  }
  .mobile-prev {
    left: 4%;
  }
  .mobile-next {
    right: 4%;
  }
  .big-sneaker {
    margin-top: 0;
  }
  .main-heading {
    font-size: 2rem;
  }
  .hero-subHeading {
    margin-bottom: 0.7rem;
  }
  .main-heading {
    margin-bottom: 1rem;
  }
  .hero-para {
    margin-bottom: 0.7rem;
  }
  .cart2-col {
    width: 100%;
  }
  .cart-box {
    display: none;
    top: 95px;
    width: 98vw;
    height: 250px;
    z-index: 10;
  }
  .cart-box.cart-box-toggle {
    display: flex;
  }
  .cart-item-img {
    max-width: 90px;
  }
  .cart-para {
    font-size: 1rem;
    line-height: 1.3;
  }
}

.btn11 {
  width: 8.5em;
  height: 2.3em;
  margin: 0.5em;
  background: black;
  color: wheat;
  border: none;
  border-radius: 0.625em;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
  margin-top: 30px;
  margin-left: 70px;
 }
 
 .btn11:hover {
  color: black;
 }
 
 .btn11:after {
  content: "";
  background: #f3eee7;
  position: absolute;
  z-index: -1;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.5s;
 }
 
 .btn11:hover:after {
  transform: skewX(-45deg) scale(1, 1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
 }